<!DOCTYPE html>
<html>
<head>
    <title>Page d'identification</title>
    <style>
        #video-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        #video {
            width: 50%;
            height: auto;
        }

        #capture-button {
            display: block;
          margin:2% auto;
            background-color: #379EC1;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            width: 10%;
        }
            body {
            color: #000;
        }

        h1, button {
            color: #379EC1;
        }
    </style>
</head>
<body>
<div id="video-container">
    <video id="video" autoplay></video>
</div>

<button id="capture-button">S'identifier</button>

<script>
    // Accéder à la webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            var videoElement = document.getElementById('video');
            videoElement.srcObject = stream;
        })
        .catch(function(error) {
            console.error('Erreur lors de l\'accès à la webcam :', error);
        });

    // Capturer et enregistrer l'affichage de la webcam
    var captureButton = document.getElementById('capture-button');
    captureButton.addEventListener('click', function() {
        var videoElement = document.getElementById('video');
        var canvas = document.createElement('canvas');
        canvas.width = videoElement.videoWidth;
        canvas.height = videoElement.videoHeight;
        var context = canvas.getContext('2d');
        context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
        var image = canvas.toDataURL('image/jpeg');

        // Téléchargement de l'image capturée
        var link = document.createElement('a');
        link.href = image;
        link.download = 'capture.jpg';
        link.click();
    });
</script>
</body>
</html>
