{# templates/register/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
        body {
            font-family: Roboto, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 80%;
            height: auto;
            max-height: 70vh;
        }

        #video {
            width: auto;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .photo-container {
            flex: 1;
        }

        .photo-container video {
            width: 100%;
            height: auto;
            max-height: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .form-container {

            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }



        .button-container {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-content: center;

            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        button {
            display: flex;
            width: 100%;
            max-width: 300px;
            margin:1em auto;
            padding: 10px;
            background-color: #379EC1;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            text-transform: uppercase;
        }

        button:hover {
            background-color: #267c97;
        }
        input{
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 50px;

            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        footer a{
            color: #000000;
        }
        footer a:hover{
            color: orange;
        }
                #logo {
            width: 250px;
            height: auto;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        #logo1 {
            display: none;
        }

        @media screen and (max-width: 1000px) {
            .container {
                flex-direction: column;
            }
            .video-container{
                flex-direction: column;
            }

            .form-container {
                padding-left: 0;
                margin-top: 20px;
            }

            .button-container {
                flex-direction: column;
            }

            .button-container button {
                width: 100%;
                margin-top: 10px;
            }
                    @media screen and (max-height: 700px){
            #logo{
                display: none;
            }
            #logo1{
                width: 100px;
                height: auto;
                position: absolute;
                top: 20px;
                left: 20px;
                display: flex;
            }

        }
        }
    </style>
</head>
<body>
<img src="{{ asset('images/MaxAirain.png') }}" alt="Logo" id="logo"/>
<img src="{{ asset('images/MaxAirain_1.png') }}" alt="Logo" id="logo1"/>
<div class="container">
    <h1>Inscription</h1>
    <div class="video-container">
        <video id="video" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
    </div>

    <div class="form-container">
        <form method="POST" action="{{ path('app_register') }}" enctype="multipart/form-data">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>

            {# Supprimer la zone de téléchargement de l'image #}

            <div class="buttonContainer">
                <button type="button" id="capture-button" disabled>Prendre une photo</button>
                <button type="submit">S'inscrire</button>
            </div>
        </form>
    </div>
    <footer>
        <p>&copy; 2023 <span>H3 Hitema</span>. All rights reserved.<a href="https://github.com/HrexD/Projet_Technique" target="_blank">Github</a></p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let isPreviewMode = false;
    let videoStream = null;
    let photoCounter = 1;
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const captureButton = document.getElementById('capture-button');
    const form = document.querySelector('form');
    let photo = null;
    var image_name = "";
    var image_encode = "";

    captureButton.addEventListener('click', () => {
        if (!isPreviewMode) {
            // Afficher la prévisualisation de la photo
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.style.display = 'block';
            isPreviewMode = true;

            // Mettre à jour la source de l'image existante avec la nouvelle photo
            if (photo) {
                photo.src = canvas.toDataURL('image/jpeg');
            } else {
                // Créer un élément image pour afficher la photo capturée
                const photoContainer = document.querySelector('.photo-container');
                photo = document.createElement('img');
                const photoName = document.getElementById('nom').value + '_' + photoCounter + '.jpg';
                photo.src = canvas.toDataURL('image/jpeg');
                image_encode = canvas.toDataURL('image/jpeg');
                photo.alt = photoName;
                image_name = photoName;
                photo.classList.add('photo');
                photoContainer.appendChild(photo);
                photoCounter++;
            }
        } else {
            // Revenir à la vidéo en direct
            canvas.style.display = 'none';
            isPreviewMode = false;
        }
    });

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        //const formData = new FormData(form);
        //const data = Object.fromEntries(formData.entries());

        const nom = document.getElementById('nom').value;
        const prenom = document.getElementById('prenom').value;
        const image = image_name;
        const donnee_user = {
            "lastName": nom,
            "firstName": prenom,
            "role": "Vigile",
            "picture": image
        };
        console.log(donnee_user);

        // Enregistrement de la photo dans le dossier public/images
        const base64Image = photo.src.split(';base64,').pop();
        const imageBlob = base64ToBlob(base64Image, 'image/jpeg');
        const imageName = image_name;

        //const formDataImage = new FormData();
        //formDataImage.append('image', imageBlob, imageName);

        
        
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '{{ path('register_user') }}'; // Remplacez par le chemin de la route de sauvegarde de l'image

        // Créer un champ caché pour les données de l'image
        const imageInput = document.createElement('input');
        imageInput.type = 'hidden';
        imageInput.name = 'image';
        imageInput.value = image_encode;

        const nameimageInput = document.createElement('input');
        nameimageInput.type = 'hidden';
        nameimageInput.name = 'image_name';
        nameimageInput.value = image_name;


        // Ajouter le champ caché au formulaire
        form.appendChild(imageInput);
        form.appendChild(nameimageInput);

        // Ajouter le formulaire à la page et le soumettre
        document.body.appendChild(form);
        form.submit();


        $.ajax({
            type: 'POST',
            url: '/api/users',
            data: JSON.stringify(donnee_user),
            contentType: 'application/json',
            success: function(response) {
                // Gérer la réponse de l'API ici
                console.log(response);
            },
            error: function(xhr, status, error) {
                // Gérer les erreurs de requête ici
                console.error(error);
            }
        });
        
    });

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            videoStream = stream;
            video.srcObject = stream;
            video.play();
            captureButton.disabled = false;
        })
        .catch(error => {
            console.error('Erreur lors de l\'accès à la webcam:', error);
        });

    function base64ToBlob(base64, mime) {
        const sliceSize = 1024;
        const byteChars = window.atob(base64);
        const byteArrays = [];

        for (let offset = 0; offset < byteChars.length; offset += sliceSize) {
            const slice = byteChars.slice(offset, offset + sliceSize);

            const byteNumbers = new Array(slice.length);
            for (let i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            const byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }

        return new Blob(byteArrays, { type: mime });
    }
</script>

</body>
</html>
