<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
    <style>
        .container {
            display: flex;
        }

        .photo-container {
            flex: 1;
        }

        .photo-container video {
            width: 100%;
            height: auto;
            max-height: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .form-container {
            flex: 1;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
        }

        .button-container button {
            width: 48%;
        }

        @media screen and (max-width: 767px) {
            .container {
                flex-direction: column;
            }

            .form-container {
                padding-left: 0;
                margin-top: 20px;
            }

            .button-container {
                flex-direction: column;
            }

            .button-container button {
                width: 100%;
                margin-top: 10px;
            }
        }
    </style>
</head>
<body>
<h1>Inscription</h1>
<div class="container">
    <div class="photo-container">
        <video id="video" autoplay></video>
       <canvas id="canvas" style="display: none;"></canvas>
    </div>
    <div class="form-container">
        <form method="POST" action="/register">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>

            <div class="buttonContainer">
                <button id="capture-button" disabled>Prendre une photo</button>
                <button type="submit">S'inscrire</button>
            </div>
        </form>
    </div>
</div>

<script>
    let isPreviewMode = false;
    let videoStream = null;
    let photoCounter = 1;
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const captureButton = document.getElementById('capture-button');
    const form = document.querySelector('form');
    let photo = null;

    captureButton.addEventListener('click', () => {
        if (!isPreviewMode) {
            // Afficher la prévisualisation de la photo
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.style.display = 'block';
            isPreviewMode = true;

            // Mettre à jour la source de l'image existante avec la nouvelle photo
            if (photo) {
                photo.src = canvas.toDataURL('image/jpeg');
            } else {
                // Créer un élément image pour afficher la photo capturée
                const photoContainer = document.querySelector('.photo-container');
                photo = document.createElement('img');
                const photoName = document.getElementById('nom').value + '_' + photoCounter;
                photo.src = canvas.toDataURL('image/jpeg');
                photo.alt = photoName;
                photo.classList.add('photo');
                photoContainer.appendChild(photo);
                photoCounter++;
            }
        } else {
            // Revenir à la vidéo en direct
            canvas.style.display = 'none';
            isPreviewMode = false;
        }
    });

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(responseData => {
                console.log(responseData);
            })
            .catch(error => {
                console.error('Erreur lors de la soumission du formulaire :', error);
            });
    });

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            videoStream = stream;
            video.srcObject = stream;
            video.play();
            captureButton.disabled = false;
        })
        .catch(error => {
            console.error('Erreur lors de l\'accès à la webcam :', error);
        });
</script>

</body>
</html>
